---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Adam Gibson" description="About Adam Gibson">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/adam.jpeg"
          alt="Adam Gibson in a field"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          Allow me to introduce myself again! <br /><br /> My name is Adam Gibson,
          and I am a software engineer with a passion for creating dynamic and innovative
          web applications. With <span id="years-experience"></span> Years of experience
          in the industry, I have worked in several roles, including as a Junior
          .NET Engineer in Alton, Hampshire, a Cloud Software Engineer in Oxford,
          and most recently as a Full-Stack Engineer in Cardiff, Wales.
          <br />
          <br />
          Throughout my career, I have primarily focused on web development using
          popular technologies such as React, Node.js, and TypeScript. These tools
          have allowed me to create robust and scalable applications that meet the
          needs of clients and end-users alike. I am particularly skilled in utilizing
          these technologies to develop user-friendly and intuitive interfaces that
          enhance the overall user experience. <br />
          <br /> In addition to my expertise in web development, I also have extensive
          experience with AWS and Linux. I have worked on a wide range of projects
          that have required the use of these technologies, from building serverless
          applications on AWS to managing complex Linux-based systems. My proficiency
          in these areas has been critical in delivering high-quality solutions that
          are secure, efficient, and reliable.
          <br />
          <br /> Overall, my passion for technology and my dedication to delivering
          exceptional work make me an ideal candidate for any project. Please take
          some time to explore my portfolio, which features a selection of my most
          recent work. If you have any questions or would like to discuss potential
          projects, please don't hesitate to reach out.
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>MSc Advanced Computer Science</p>
        </div>
        <div class="content">
          <p>BSc Computer Science and Japanese Studies</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            Python, JavaScript, TypeScript, HTML, CSS, React, Vue, Cypress,
            Node.js, Express, Bash, Linux
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<script>
  const currentYear = new Date().getFullYear();

  const p = document.querySelector("#years-experience");
  p!.textContent = `${currentYear - 2020}`;
</script>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
