---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: string | undefined;
  ogType?: "website" | "article";
}

const { title, description, ogImage, ogType } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead
      title={title}
      description={description}
      ogImage={ogImage}
      ogType={ogType}
    />
  </head>
  <body>
    <div class="shell stack">
      <Nav />
      <slot />
      <Footer />
    </div>
    <div class="crt-overlay" aria-hidden="true"></div>

    <script>
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>

    <style>
      .shell {
        min-height: 100%;
        isolation: isolate;
        background-color: var(--bg);
      }
    </style>
  </body>
</html>
